#login {
    border: 1px solid black;
    position: absolute;
    top: 200px;
    left: 450px;
    height: 450px;
    width: 600px;
    border-radius: 20px;
    background-color: #f9f9f9;
}

#login-button {
    cursor: pointer;
    background-color: blue;
    display: block;
    margin-top: 40px;
    margin-left: 170px;
    height: 49px;
    border-radius: 8px;
    color: white;
    width: 270px;
    font-size: 20px;
}

#login-button:hover {
    background-color: aqua;
    color: black;
    opacity: 0.8;
}

#signin-button {
   cursor:pointer;
   background-color: lightgreen; 
   height: 40px;
   border-radius: 9px;
   font-size: large;
   margin-left: 220px;
   margin-top: 20px;
   width: 200px;
}
#signin-button:hover {
    background-color: green;
    color: white;
    opacity: 0.9;
    z-index: 3;
    border: 3px solid black;
}
#signin-border{
   
    position: absolute;
    top: 200px;
    left: 400px;
    height: 600px;
    width: 600px;
    border-radius: 20px;  
}
#dashboard{

    background: linear-gradient(to right, rgb(202, 161, 222), rgb(112, 102, 154));    
    min-height: 100vh;
    background-attachment: fixed;
    font-size:40px;
}
#pop-up{
    border: 1px solid black;
    text-align: center;
    color: rgb(46, 36, 68);
    background-color: rgb(249, 249, 249);
    padding:20px;
    margin-top: 200px;
    padding:30px 20px;
    width:570px;
    border-radius: 30px;
    margin-left:450px;
    height:400px;
    box-shadow: 70px 30px 20px rgba(0, 0, 0, 0.2);
}
#get-started{
    background-color: rgb(80, 255, 120);
    border-radius:10px;
}